        /* About Section */
        .about-section {
            /* max-width: 900px; */
            margin: 0 auto;
            padding: 30px;
            color: #000000;

            border-radius: 10px;
          
        }

        .about-section h2 {
            text-align: center;
            color: #2077A7;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .about-section h3 {
            color: #000000;
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 800;
        }

        .about-section p {
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 10px;
            color: #000000;
        }
       

.image-container img {
    width: 100%;
    height: auto; 
    display: block; 
}


.section-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.image-container {
    width: 100%; 

}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    margin-bottom: 50px;
}

.text-box {
    position: relative;
    padding: 10px;
    background: #323232;
    color: white;
    padding: 20px;
    width: 80%;
    height: fit-content;
    font-size: 14px;
    margin-left: 160px;
    margin-top: -100px;
    z-index: 2 !important;
}
.text-box p{
    color: white;
    font-size: 15px;
    line-height: 2;

}

.oil-flex{
    display: flex;
    gap: 40px !important
}

.title {
    margin-top: 60px;
    right: 5%;
    font-size: 34px;
    font-weight: bold;
}

.title span {
    color: green;
}

.text-blue{
    color: #2077A7 !important;
}

.content-section {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 20px;
    color: #000000;
}

.content-section h2 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-section  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.content-section  p {
    font-size: 14px;
    margin-bottom: 10px;
}

.flex-mission-goals{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}


 

        /* Responsive Design */
@media (max-width: 868px) {
    .content-section {
        padding: 10px;
    }

    .content-section  h2 {
        font-size: 20px;
    }

    .content-section  h3 {
        font-size: 16px;
    }

    .content-section  p {
        font-size: 13px;
    }
    
    .title {
        font-size: 20px;
        right: 5%;
    }

    .about-section {
        padding: 20px;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .about-section h3 {
        font-size: 20px;
    }

    .about-section p {
        font-size: 14px;
    }

    .image-containe img{
        width: 100% !important;
    }

    .title{
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 1068px) {
    .oil-flex{
        /* background-color: red !important; */
        display: flex;
        padding: 20px;
    }

    .oil-flex .title{
        width: 100% !important;
    }

    .text-box {
        position: relative;
        padding: 10px;
        background: #323232;
        color: white;
        padding: 20px;
        width: 100%;
        height: fit-content;
        font-size: 14px;
        margin-left: 0px;
        margin-top: 20px;
        z-index: 2 !important;
    }

    .section-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}

@media (max-width: 450px) {
    .oil-flex{
        flex-direction: column;
    }

    .title{
        margin-top: -5%;
        margin-bottom: -3%;
        margin-left: 35%;
    }
}